

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dangelamaestre.co</title>

    <meta name="title" content="Dangelamaestre.co">
    <meta name="description" content="Únete a la Red de Dangela y ayúdanos a cambiar el Congreso de la Republica">
    <meta name="og:image" content="http://unirse.dangelamaestre.co/images/imagenprincipal2.jpg">


    <meta property="og:type" content="website">
    <meta property="og:url" content="http://unirse.dangelamaestre.co/">
    <meta property="og:title" content="Dangelamaestre.co">
    <meta property="og:description" content="Únete a la Red de Dangela y ayúdanos a cambiar el Congreso de la República">
    <meta property="og:image" content="http://unirse.dangelamaestre.co/images/imagenprincipal2.jpg">


    <link href="~/css/bootstrap.css" rel="stylesheet" />
    @*<link href="~/css/all.min.css" rel="stylesheet" />*@
    <link href="~/css/bootstrap_limitless.css" rel="stylesheet" />
    <link href="~/css/components.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/icons/icomoon/styles.min.css" rel="stylesheet" />
    <link href="~/css/icons/fontawesome/styles.min.css" rel="stylesheet" />


</head>
<body class="bg-gray" style="overflow-y:auto">
    <main role="main" class="pb-3">
        <div class="card">
            <div class="card-header px-0">
                <div class="row">
                    <div class="col-12 col-md-8 pl-3">
                        <h1 class="mt-1 font-weight-bold text-primary"><a href="http://dangelamaestre.co">Dangelamaestre.co</a></h1>
                    </div>
                    <div class="col-md-4 d-none d-md-block text-right pr-3">
                    </div>
                </div>
                <div class="row m-0 mt-1 bg-secondary">
                    <div class="col-12 text-center py-1 line-height-lg">
                        Únete a la Red de Dangela y ayúdanos a cambiar el Congreso de la República
                    </div>
                </div>
            </div>
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </main>

    <script src="~/js/main/jquery.min.js"></script>
    <script src="~/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/js/plugins/tables/footable/footable.min.js"></script>
    <script src="~/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="~/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script src="~/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script src="~/js/plugins/pickers/pickadate/legacy.js"></script>
    <script src="~/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/js/plugins/pickers/pickadate/translation/es_ES.js"></script>
    <script src="~/js/plugins/ui/moment/moment_locales.min.js"></script>
    <script src="~/js/plugins/forms/validation/validate.min.js"></script>
    <script src="~/js/plugins/forms/validation/localization/messages_es.js"></script>
    <script src="~/js/plugins/notifications/sweet_alert.min.js"></script>
    <script src="~/scripts/utilidades.js"></script>
    <script src="~/scripts/validacionesExtras.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
