
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


<div class="row">
    <div class="col-xl-12 text-center">
        <a type="button" href="/Registro/Index" class="btn btn-primary mr-lg-3 mr-md-2 px-lg-5 px-sm-3 px-2">
            Regístrate
        </a>
        <a type="button" href="/Registro/Persona" class="btn btn-secondary ml-lg-3 ml-md-2 px-lg-4 px-sm-2 px-2">
            Estoy registrado
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 text-center">
        <img class="mt-5 d-none img-fluid" src="~/images/imagnePrincipal.jpg" />
    </div>
</div>

