
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="row mt-4">
    <div class="offset-xl-1 col-xl-10">
        <div class="card">
            <div class="card-header">
                <h1>Bienvenido a <span class="text-primary">Fza</span></h1>
            </div>
            <div class="card-body">
                <p>
                    Éstas aquí porque quieres apoyar las iniciativas de ...
                </p>

                <div class="row">
                    <div class="col-xl-12">
                        <a type="button" href="/Registro/Index" class="btn btn-primary">Registrarse</a>
                        <a type="button" href="/Registro/Persona" class="btn btn-danger">Ya estoy registrado</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

