
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


@section Scripts {
    <script type="module">
        import RegistroView from '../scripts/registro.js'
        $(document).ready(() => {
            const registroView = new RegistroView();
        });
    </script>

}

<div class="row mt-4">
    <div class="offset-xl-1 col-xl-10">
        <form id="form-registro" name="form-registro" class="flex-fill">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <i class="icon-plus3 icon-2x text-success border-success border-3 rounded-pill p-3 mb-3 mt-1"></i>
                                <h5 class="mb-0">Registrate</h5>
                                <span class="d-block text-muted">Por favor completa todos estos datos</span>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-right">
                                <input type="text" id="txtCedula" name="cedula" class="form-control change" data-model="registro" placeholder="Cedula de ciudadania">
                                <div class="form-control-feedback">
                                    <i class="icon-vcard text-muted"></i>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-feedback form-group-feedback-right">
                                        <input type="text" id="txtNombres" name="nombres" class="form-control change" data-model="registro" placeholder="Nombres">
                                        <div class="form-control-feedback">
                                            <i class="icon-user-check text-muted"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group form-group-feedback form-group-feedback-right">
                                        <input type="text" id="txtApellidos" name="apellidos" class="form-control change" data-model="registro" placeholder="Apellidos">
                                        <div class="form-control-feedback">
                                            <i class="icon-user-check text-muted"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-feedback form-group-feedback-right">
                                        <input type="text" id="txtCelular" name="celular" class="form-control change" data-model="registro" placeholder="Celular">
                                        <div class="form-control-feedback">
                                            <i class="icon-iphone text-muted"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group form-group-feedback form-group-feedback-right">
                                        <input type="text" id="txtCorreo" name="email" class="form-control change" data-model="registro" placeholder="Correo electronico">
                                        <div class="form-control-feedback">
                                            <i class="icon-mail-read text-muted"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-feedback form-group-feedback-right">
                                        <input type="text" id="pickFechaNacimiento" name="fechaNacimiento" data-model="registro" class="form-control change" placeholder="Fecha de nacimiento">
                                        <div class="form-control-feedback">
                                            <i class="icon-hour-glass text-muted"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group form-group-feedback form-group-feedback-right">
                                        <select type="text" id="cboMunicipio" name="idMunicipio" data-model="registro" class="form-control change" placeholder="Municipio"></select>
                                        <div class="form-control-feedback">
                                            <i class="icon-map text-muted"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-0">

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="remember" class="custom-control-input">
                                    <span class="custom-control-label">Acepto <a href="#">&nbsp;terminos y condiciones</a></span>
                                </label>
                            </div>
                        </div>
                        <input type="hidden" id="txtReferente" name="idReferente" data-model="registro" class="form-control change" value="@ViewBag.IdReferente">

                        <div class="card-footer bg-transparent text-right">
                            <button type="button" id="btnRegistrar" class="btn btn-teal btn-labeled btn-labeled-right"><b><i class="icon-plus3"></i></b> Registrarse</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
