
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


@section Scripts {
    <script type="module">
        import RegistroView from '../scripts/registro.js?v=1.0.5'
        $(document).ready(() => {
            const registroView = new RegistroView();
        });
    </script>

}

<div class="row mb-4">
    <div class="col-xl-12">
        <form id="form-registro" name="form-registro" class="flex-fill">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="card mb-0 border-0 shadow-none">
                        <div class="card-body border-0">
                            <div class="text-center mb-3">
                                <i class="icon-plus3 icon-2x text-primary border-primary border-3 rounded-pill p-3 mb-3 mt-1"></i>
                                <h5 class="mb-0">Regístrate</h5>
                                <span class="d-block text-muted">Por favor completa todos los datos</span>
                            </div>

                            <div class="form-group">
                                <input type="text" id="txtCedula" name="cedula" class="form-control change" data-model="registro" placeholder="Cédula de ciudadanía">
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="txtNombres" name="nombres" class="form-control change" data-model="registro" placeholder="Nombres">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="txtApellidos" name="apellidos" class="form-control change" data-model="registro" placeholder="Apellidos">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="txtCelular" name="celular" class="form-control change" data-model="registro" placeholder="Celular">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="txtCorreo" name="email" class="form-control change" data-model="registro" placeholder="Correo electrónico">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                @*<div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="pickFechaNacimiento" name="fechaNacimiento" data-model="registro" class="form-control change" placeholder="Fecha de nacimiento">
                                    </div>
                                </div>*@
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select type="text" id="cboMunicipio" name="idMunicipio" data-model="registro" class="form-control change" placeholder="Municipio"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-0">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="remember" class="custom-control-input">
                                    <span class="custom-control-label">Acepto <a href="#">&nbsp;términos y condiciones</a></span>
                                </label>
                            </div>
                        </div>
                        <input type="hidden" id="txtReferente" name="idReferente" data-model="registro" class="form-control change" value="@ViewBag.IdReferente">

                        <div class="card-footer border-0 shadow-none bg-transparent text-right">
                            <button type="button" id="btnRegistrar" class="btn btn-primary btn-labeled btn-labeled-right"><b><i class="icon-plus3"></i></b> Registrarse</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
