
@{
    ViewData["Title"] = "Persona";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}



@section Scripts {
    <script src="~/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/js/plugins/tables/datatables/extensions/responsive.min.js"></script>

    <script type="module">
        import PersonaView from '../scripts/persona.js'
        $(document).ready(() => {
            window.personaView = new PersonaView();
        });
    </script>
}



<div class="row">

    <div class="col-xl-12">
        <div class="card border-0 shadow-none">
            <div class="card-body">
                <form id="form-consulta-persona" name="form-consulta-persona">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="text-center mb-3">
                                <i class="icon-check2 icon-2x text-primary border-primary border-3 rounded-pill p-3 mb-3 mt-1"></i>
                                <span class="d-block text-muted">
                                    Ingresa y haz parte del cambio
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-4 col-md-4 text-center">
                            <div class="form-group">
                                <input type="text" id="txtCedula" name="cedula" class="form-control text-center change" data-model="registro" placeholder="Cédula de ciudadanía">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-4 col-md-4 text-center">
                            <button type="button" id="btnConsultar" class="btn btn-primary text-center">Ingresar</button>
                        </div>
                    </div>
                </form>



                <div class="row d-none" id="divContentConsulta">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-10">
                                <strong> Bienvenido, <span id="lblNombre"></span></strong>
                            </div>
                            <div class="col-2 text-right">
                                <a href="#" id="lblSalir">Salir</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2 col-lg-1">
                                <span class="mt-3 badge badge-primary even-larger-badge px-2" id="lblAmigos"></span>
                            </div>
                            <div class="col-10 pt-1 col-lg-11">
                                <p class="mt-4 ml-2  text-justify line-height-1">De tus amigos creen en este proyecto,<br class="d-none d-lg-block" /> y estamos seguros de que pueden ser más.</p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="mt-4">Invita a tus amigos <a href="#" id="linkWap" data-action="share/whatsapp/share" class="badge badge-secondary ml-3 p-0 bg-white"><img src="~/images/whatappIcon.png" /></a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-justify mt-4">Puedes utilizar este enlace para difundir en tus redes o para registrar directamente a tus amigos </p>
                                <a id="lblEnlace" target="_blank"></a> <a class="ml-2" title="Copiar" id="btnCopyUrl"><i class="icon-copy4 icon-2x"></i></a>
                                <p class="text-justify mt-2">
                                    Recuerda que quienes se inscriban a través de tus invitaciones o del enlace que compartas harán parte de tus amigos.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="font-size-sm">Mis Amigos</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table font-size-xs line-height-1 table-bordered table-xs" id="datatable-friends">
                                        <thead class="bg-secondary">
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Celular</th>
                                                <th>Amigos</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
