
@{
    ViewData["Title"] = "Persona";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}



@section Scripts {
    <script type="module">
        import PersonaView from '../scripts/persona.js'
        $(document).ready(() => {
            const personaView = new PersonaView();
        });
    </script>
}



<div class="row mt-5">

    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h2>Consulta</h2>
            </div>
            <div class="card-body">
                <form id="form-consulta-persona" name="form-consulta-persona">
                    <div class="row">
                        <div class="col-xl-2">
                            <div class="form-group">
                                <input type="text" id="txtCedula" name="cedula" class="form-control change" data-model="registro" placeholder="Cedula de ciudadania">
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <button type="button" id="btnConsultar" class="btn btn-info"> Consultar</button>
                        </div>
                    </div>
                </form>

                <div class="row d-none" id="divContentConsulta">
                    <div class="offset-1 col-xl-10">
                        <div class="row">
                            <div class="col-xl-12">
                                <h3><span id="lblNombre"></span> Bienvenido a Fz</h3>
                                <h4>Tienes <span class="font-size-lg" id="lblAmigos"></span> amig@s que creen en este proyecto</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <p>Estamos seguros que pueden ser más:</p>
                                <p>Invita a tus amigos <a href="#" id="linkWap" data-action="share/whatsapp/share" class="badge badge-secondary badge-pill p-1"><i class="fab fa-whatsapp  fa-2x"></i></a></p>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <p>Enlace para difundir en tus redes:</p>
                                <a id="lblEnlace" target="_blank"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <p>Recuerda que quieenes se inscriban a traves del enlace que compartas seran parte de tus amigos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>